@import "colors";

footer{
    background-color:white;
    height:100px;
    width: 100%;
 
    >div{
        font-size: large;
        display :flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem;
        >div{
            >h2{
                color: $third;
            }
            p{
                font-weight: 900;
                font-size:x-large;
            }
            h5{
                font-size: xx-large;
            }
            >div{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                a{
                    font-weight: 900;
                    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
                }
            }
        }
    }

}